# Week 6 Tuesday – Using nhanes survey data to examine patterns of obesity

### Introduction

Today, we will work with the National Health and Nutrition Examination Survey (nhanes) data from the USA National Center for Health Statistics (https://www.cdc.gov/nchs/nhanes/about_nhanes.htm). As preparation for today’s class, you already took a look at the data and explored the variables that will be used today. 

The objective of this activity is to practice the R coding skills you acquired over the last few weeks, and to prepare you for the midterm exam of coming Thursday. Therefore, try to work on this activity independently, save your script as a .R file and upload it to Canvas, export the graphs as .pdf files uploading them to Canvas as well.


This activity includes more questions than you are expected to be able to answer during class. The rest of the questions can be used for extra practice at home. A .html document with solutions to all questions will be available at the end of the day so you will be able to check your answers.

Keep your own R script you created for the prep of this class at hand, or the .html file with solutions that was provided to you. They provide an overview of the variables in the data set and an overview of the range of values / categories for several of the variables you will use today.

In [1]:
nhanes <- read.csv("C:/Users/User/OneDrive/Documents/Yale-NUS/Quantitative Reasoning/Quantitative Reasoning Repository/Lesson 9 - NHANES Data/nhanes.csv")

head(nhanes)

  id   year weight height gender age_yrs ethn
1 8594 2000  34.20 141.2  F      10      Mexican American
2 8073 2000  83.60 167.0  F      19      Mexican American
3 1604 2000  55.20 169.9  F      47      Non-Hispanic White
4 7197 2000  64.70 180.3  M      63      Non-Hispanic Black
5 4492 2000 113.90 173.2  F      24      Mexican American
6 1443 2000  52.74 169.0  F      25      Non-Hispanic White
  educ                      marital       income_class     poverty citizenship
1 NA                        NA            NA                 NA    not_citizen
2 NA                        Never married 15,000 to 19,999 1.56    citizen
3 college graduate or above Married       75,000 and over  5.00    citizen
4 9-11th grade              Separated     5,000 to 9,999   0.62    citizen
5 High School               Married       35,000 to 44,999 3.38    citizen
6 some college or AA        Married       35,000 to 44,999 2.47    citizen
  household income_mid poverty_class years_USA_mid lead_conc age_class
1 7             NA     NA            NA               NA     12.5
2 2          17500      2            NA            0.039     17.5
3 5         100000      5            NA            0.072     47.5
4 1           7500      1            NA            0.531     62.5
5 2          40000      4            NA            0.014     22.5
6 3          40000      3            NA            0.024     27.5

### Step 1: Append a column with the body mass index (BMI) per participant.

the BMI is calculated as a person’s weight in kilograms divided by their height in meters squared. For adults (20+ years) A BMI of 25.0 or more is overweight, while bmi > 30 is considered obese.

In [3]:
nhanes$BMI <- nhanes$weight / ((nhanes$height)/100)^2
head(nhanes)

  id   year weight height gender age_yrs ethn
1 8594 2000  34.20 141.2  F      10      Mexican American
2 8073 2000  83.60 167.0  F      19      Mexican American
3 1604 2000  55.20 169.9  F      47      Non-Hispanic White
4 7197 2000  64.70 180.3  M      63      Non-Hispanic Black
5 4492 2000 113.90 173.2  F      24      Mexican American
6 1443 2000  52.74 169.0  F      25      Non-Hispanic White
  educ                      marital       income_class     poverty citizenship
1 NA                        NA            NA                 NA    not_citizen
2 NA                        Never married 15,000 to 19,999 1.56    citizen
3 college graduate or above Married       75,000 and over  5.00    citizen
4 9-11th grade              Separated     5,000 to 9,999   0.62    citizen
5 High School               Married       35,000 to 44,999 3.38    citizen
6 some college or AA        Married       35,000 to 44,999 2.47    citizen
  household income_mid poverty_class years_USA_mid lead_conc age_class BMI
1 7             NA     NA            NA               NA     12.5      17.15366
2 2          17500      2            NA            0.039     17.5      29.97598
3 5         100000      5            NA            0.072     47.5      19.12284
4 1           7500      1            NA            0.531     62.5      19.90274
5 2          40000      4            NA            0.014     22.5      37.96889
6 3          40000      3            NA            0.024     27.5      18.46574

### Step 2: Select people >20 years old

We’ll look at people from 20 years (because definitions of obesity is different for younger people) till 84 years old (because 85 years lumps all people of 85 and older). Create a new dataframe adults with only people in this age range.

In [39]:
adults <- nhanes[which(nhanes$age_yrs > 19 & nhanes$age_yrs < 85), ]
head(adults)

  id   year weight height gender age_yrs ethn
3 1604 2000  55.20 169.9  F      47      Non-Hispanic White
4 7197 2000  64.70 180.3  M      63      Non-Hispanic Black
5 4492 2000 113.90 173.2  F      24      Mexican American
6 1443 2000  52.74 169.0  F      25      Non-Hispanic White
8 5341 2000  96.30 179.5  M      50      Other Hispanic
9 5286 2000  51.40 156.4  M      78      Mexican American
  educ                      marital       income_class     poverty citizenship
3 college graduate or above Married       75,000 and over  5.00    citizen
4 9-11th grade              Separated     5,000 to 9,999   0.62    citizen
5 High School               Married       35,000 to 44,999 3.38    citizen
6 some college or AA        Married       35,000 to 44,999 2.47    citizen
8 < 9th grade               Never married 20,000 to 24,999 0.96    not_citizen
9 < 9th grade               NA            35,000 to 44,999 3.48    not_citizen
  household income_mid poverty_class years_USA_mid lead_conc age_class BMI
3 5         100000     5             NA            0.072     47.5      19.12284
4 1           7500     1             NA            0.531     62.5      19.90274
5 2          40000     4             NA            0.014     22.5      37.96889
6 3          40000     3             NA            0.024     27.5      18.46574
8 2          22500     1             25            0.077     52.5      29.88804
9 2          40000     4             75            0.111     77.5      21.01308

### Step 3: How many NAs do we have in the column bmi?

In [37]:
totalsum <- sum(is.na(adults$BMI))
totalsum

[1] 139

### Step 4: Estimate the bmi statistics BMI of women in the 2000 survey

Calculate the mean, standard deviation, first, second, third quartile, IQR, min and max of the BMI of women in the 2000 survey.

In [65]:
# MEAN BMI
mean_score <- mean(adults$BMI[adults$gender == "F"], na.rm = TRUE)
print(paste("mean score:", mean_score))

# STANDARD DEVIATION
standard_deviation <- sd(adults$BMI[adults$gender == "F"], na.rm = TRUE)
print(paste("standard deviation:", standard_deviation))

# DIFFERENT QUARTILES
quartiles <- quantile(adults$BMI[adults$gender == "F"], na.rm = TRUE)
print("quartiles:")
quartiles

# INTERQUARTILE RANGE
iqr_range <- IQR(adults$BMI[adults$gender == "F"], na.rm = TRUE)
print(paste("interquartile range:", iqr_range))

# MINIMUM BMI
minimum_score <- min(adults$BMI[adults$gender == "F"], na.rm = TRUE)
print(paste("minimum score: ", minimum_score))

# MAXIMUM BMI
maximum_score <- max(adults$BMI[adults$gender == "F"], na.rm = TRUE)
print(paste("maximum score:", maximum_score))

[1] "mean score: 29.7622758570926"
[1] "standard deviation: 7.62323391269072"
[1] "quartiles:"

      0%      25%      50%      75%     100%
12.04273 24.31596 28.46082 33.70921 84.40411

[1] "interquartile range: 9.39325411900011"
[1] "minimum score:  12.0427291082171"
[1] "maximum score: 84.4041112028008"

### Step 5: Estimate the bmi statistics BMI of women in the 2018 survey

### Step 6: Remove all rows with NA in the column bmi from the dataset adults

### Step 7: Use boxplots to examine the distribution of bmi values

Use boxplots to compare how the distribution of bmi varies with the age of the male participants and how the distribution of bmi changed from 2000 to 2018. Start with creating separate data frames for each survey year, with in both cases only data for males. If you use the function which() as part of your subsetting, all NAs are removed (To convince yourself, compare the code with and without which())

Now use boxplots to assess to what extent BMI differs between census years (‘year’) and with age. We’ll use 5-year age classes (‘age_class’) to get larger sample size per age class and reduce the variability a bit. The values in the column ‘age_class’ are the midpoints of the 5-year age ranges. Plot the two graphs above each other in one graphical display. Make sure the range of values oin the y-axis is the same.

There seem to be some differences between years, and some age trend, but the differences in the medians among groups are very limited compared with the variation within each of these groups (Boxplots do a good job showing just that, think about the air pollution assignment from a few weeks ago).

Let’s now examine to what extent the level of obesity (% of people with a bmi > 30) differs among age classes and the extent to which levels of obesity changed from 2000 till 2018. Calculate per 1-year age class the percentage of people that are obese (bmi > 30).

### Step 8: Calculate the number of >20 year old men per age class

Use table() to get the number of men in each age class, separately for 2000 and 2018.

### Step 9: Get the number of obese men in each age class

Subset the data frames adult_2000_men and adult_2018_men for men with bmi >= 30 and then use table() to get the number of obese men in each age class, separately for 2000 and 2018.

### Step 10: Calculate for each age class the percentage of men with a bmi >= 30.

Do this separately for the 2000 and the 2018 data, using the tables you created in steps 8 and 9. (Hint: you can perform element-wise arithmetic on R tables.).

### Step 11: Plot the percentage of people that are obese as function of age_class in a scatter plot.

Use a different color for the points of each of the two years. Add for each year a lowess curve. Tip: Plot the points for one of the years, then add the points of the other year and finally add the lowess curves of both years. However, first get a list of the age classes, which you will use as x-variable

In [6]:
age_ranges <- sort(unique(adults_2000_men$age_class))

age_ranges

ERROR: Error in unique(adults_2000_men$age_class): object 'adults_2000_men' not found

Then define highest and lowest percentages of obese men in any of the age classes across all years

And then finally plot the data

Conclusions? There seems to be an similar unimodal age-related trend, although prevalence of obesity shifted from men in their sixties towards men in their late thirties / early forties. Overall, the percentage of mean with obesity increased with around 10% over the 2000-2018 time interval!